:root {
  --main-title-color: #ffffff;
  --sacondary-title-color: #212121;
  --text-title-color: #757575;
  --accent-color: #2196f3;
  --items: 3;
}
/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-title-color);
  color: var(--sacondary-title-color);
}

/* reset */

/* Стили для обнуления верхних отступов у элементов  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul)  */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок  */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address  */

address {
  font-style: normal;
}

/* components */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* reset and*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  outline: 2px solid red;
  outline-offset: -2px;
}
/**
  |============================
  | Шапка сайту
  |============================
*/
.header-container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--main-title-color);
}
.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo-header {
  color: var(--sacondary-title-color);
}
.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 344px;
}
.header-list-cont {
  display: flex;
  gap: 50px;
}
.nav-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 50px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--sacondary-title-color);
  align-items: center;

}
.header-nav {
  margin-right: auto;
}
.active {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}


.header-mail,
.header-tel {
  font-weight: 500;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
  color: var(--text-title-color);
 margin-right: auto;
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}



/*-------Герой--*/
.hero {
  background-color: #2f303a;

}
.hero-title {
  padding-top: 200px;
  padding-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);

}
.hero-button {

  padding: 9px 31px;
  min-width: 216px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
    border: none;
  cursor: pointer;
  text-align: center;


}
.order-button {
  display:inline-block
  font-size: 16px;
  text-align: center;
  display: flex;



}
/**
  |============================
  |        Особливості
  |============================
*/


.about-list {
  display: flax;
  align-items: center;
}

.about-tittle {
  width: 269px;
  height: 98px;

  padding-right: 30px;
}

.about-sub-tittle {
  font-size: 14px;
  line-height: calc(16 / 14);
}
.about-description {
  line-height: 24px;

  color: var(--text-title-color);
}


/**
  |============================
  | Чим займаємось
  |============================
*/


.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  display: block;
  padding-bottom: 50px;
}
.dev-list {
  display: flex;
  align-items: center;

}
.dev-item:not(:last-child) {
margin-right: 30px;
}

/**
  |============================
  | Наша команда
  |============================
*/

.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.team-lisi {
  display: flex;
  gap: 30px
}
.team-sub-title {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.team-description {
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--text-title-color);
}

/**
  |============================
  | Підвал
  |============================
*/
.footer {
  background: #2f303a;
}
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 60px;
  padding-left: 20px;
}

.logo-footer-span {
  color: var(--main-title-color);
}

.footer-link {
  line-height: calc(24 / 14);

  color: var(--main-title-color);
  font-style: normal;
}
.footer-address {
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/*-------Портфоліо--*/
/*-------Фільтри--*/
.list-filters {
  display: flex;


}
.button {
  padding: 5px 21px;
  min-width: 125px;
  min-height: 38px;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active-btn {
  padding: 5px 24px;
  min-width: 72px;
  min-height: 37px;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.title-portfolio {
  font-size: 18px;
  line-height: calc(36 / 18);
}
.portfolio-description {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--text-title-color);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
